<div class="chat-container">
  <div class="messages">
    @for (msg of messages; track msg.id) {
      <div [ngClass]="msg.sender">
        <span class="sender">
          @if (msg.sender === 'user') {
            You:
          } @else {
            Bot:
          }
        </span>
        <span class="text">{{ msg.text }}</span>
        <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
      </div>
    }
  </div>
  <form (ngSubmit)="sendMessage()" class="input-row">
    <input [(ngModel)]="newMessage" name="message" placeholder="Type your message..." autocomplete="off" />
    <button type="submit">Send</button>
  </form>
</div>
